.container{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    height: 0%;
  }

  .input{
    display: flex;
    text-align: center;
    margin-bottom: 5%;
    flex-direction: column;
  }